<div class="container">
  <div class="col-md-12 margin-top-5per article-block">
    <h1 class="text-center">投稿の編集</h1>
    <%# <%= image_tag 'cat.jpg', class:'article-image padding-top-15'%>
    <div class="padding-bottom-15">
      <%= render 'form', article: @article, style: 'margin-bottom: 10px'%>
    </div>
  </div>
</div>